/* Tooltip from https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_transition */
.tooltip {
    position: relative;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #fff;
    font-size: xx-large;
    line-height: 100%;
    vertical-align: -20%;
    padding-right: 80px;
}

.tooltip .tooltiptext {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: medium;
    line-height: normal;
    visibility: hidden;
    width: 300px;
    background-color: #50a7b2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 180%;
    left: -130%;
    margin-left: -150px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

img {
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
}
fieldset {
  padding: 5px;
  padding-left: 100px;
  width: 100%;
  border-color: #691c14;
  border-style: solid;
  background-color:#50a7b2;
  font-family: Tahoma, Geneva, sans-serif;
}
div {
  text-align: right;
  padding-right: 30px
}

label {
  color: white;
}

select { /* from https://www.w3schools.com/css/css_form.asp */
    width: 15%;
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #691c14;

}
button { /* from https://www.w3schools.com/css/css_form.asp */
  background-color: #50a7b2;
  border: solid;
  border-color: #691c14;
  color: white;
  padding: 6px 10px;
  text-decoration: none;
  font-size: medium;
  margin: 4px 2px;
  cursor: pointer;
  margin-right: 40px;
}
#clear {
  margin-right: 5px;
}
button:focus{
  outline: none;
}
body{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

p{
   text-align: center;
   overflow: overlay;
   position: relative;
}

body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(248, 248, 248)
}

.conceptG text{
  pointer-events: none;
}

marker{
  fill: #333;
}

g.conceptG.funding circle{
  fill: #98D2EB;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG.politician circle{
  fill: #B2B1CF;
  stroke: #333;
  stroke-width: 2px;
}

g.conceptG.funding:hover circle{
  fill: #61A8C6;
}

g.selected.funding circle{
  fill: #61A8C6;
}

g.conceptG.politician:hover circle{
  fill: #9291BA;
}

g.selected.politician circle{
  fill: #9291BA;
}


path.link {
  color: #691c14;
  fill: #691c14;
  stroke: #333;
  cursor: default;
}

g.connect-node circle{
  fill: #BEFFFF;
}

path.link.hidden{
  stroke-width: 0;
}
